In [19]:
import pandas as pd
import geopandas as gpd
import pyarrow.parquet as pq
from pathlib import Path
from typing import List

## Stops Data

In [3]:
pt = '/Users/gouherdanish/Documents/Danish/codes/blmc/data/stops_0.csv'

df_stops = pd.read_csv(pt)
df_stops.head()

   stop_id  stop_lat  stop_lon                 stop_name
0    22482  13.09943  77.58817    Sheshadripuram College
1    33142  12.76839  77.77011      Anekal Road Junction
2    24833  12.90424  77.47270          Depot-12 Kengeri
3    23309  13.01860  77.55537  Depot-26 Yeshawanthapura
4    33020  13.24270  77.82258                I Basapura

In [39]:
df_stops['stop_id'] = df_stops['stop_id'].astype(str)

In [40]:
df_stops['geometry'] = gpd.points_from_xy(df_stops['stop_lon'],df_stops['stop_lat'],crs="EPSG:4326")
df_stops = gpd.GeoDataFrame(df_stops)
df_stops

,stop_id,stop_lat,stop_lon,stop_name,geometry
0,22482,13.09943,77.58817,Sheshadripuram College,POINT (77.58817 13.09943)
1,33142,12.76839,77.77011,Anekal Road Junction,POINT (77.77011 12.76839)
2,24833,12.90424,77.47270,Depot-12 Kengeri,POINT (77.4727 12.90424)
3,23309,13.01860,77.55537,Depot-26 Yeshawanthapura,POINT (77.55537 13.0186)
4,33020,13.24270,77.82258,I Basapura,POINT (77.82258 13.2427)
...,...,...,...,...,...
12269,39483,13.08471,77.49882,Govt Primary School Chikkabhanavara,POINT (77.49882 13.08471)
12270,22141,13.02596,77.63704,Kalyananagara Junction,POINT (77.63704 13.02596)
12271,21450,13.02546,77.64042,80 feet Road Kalyananagara,POINT (77.64042 13.02546)
12272,33282,13.02200,77.64313,Kalyananagara 1st Block,POINT (77.64313 13.022)
12273,30679,13.02188,77.64331,Kalyananagara 1st Block,POINT (77.64331 13.02188)

In [41]:
df_stops.shape, df_stops['stop_id'].nunique()

((12274, 5), 12274)

In [42]:
out = '/Users/gouherdanish/Documents/Danish/codes/blmc/data/stops_0.shp'
df_stops.to_file(out)

## Route Data

In [8]:
pt = '/Users/gouherdanish/Documents/Danish/codes/blmc/data/routes.csv'
df_routes = pd.read_csv(pt)
df_routes.head()

,agency_id,route_desc,route_id,route_long_name,route_short_name,route_type
0,38,Central Silk Board - Yeshawanthapura Bus Station,3040,CSB-YBS,500-DJ,3
1,38,Dyavalingaiahnapalya - KR Market (Kalasipalya),2517,DLP-KMT,231-H,3
2,38,Sri Ramapura - Kempegowda Bus Station,2676,286-D SRP-KBS,286-D SRP-KBS,3
3,38,Nelamangala Bus Station - Kempegowda Bus Station,3509,NMG-KBS,258-CC,3
4,38,Hampinagara RPC Layout - Kaval Byrasandra,2725,RPCLO-KVB,176,3

In [10]:
df_routes.describe()

       agency_id      route_id  route_type
count    10719.0  10719.000000     10719.0
mean        38.0   8734.169046         3.0
std          0.0   4365.172171         0.0
min         38.0   1657.000000         3.0
25%         38.0   4922.500000         3.0
50%         38.0   8439.000000         3.0
75%         38.0  12739.500000         3.0
max         38.0  16194.000000         3.0

In [11]:
df_routes.route_desc.nunique()

8418

In [12]:
df_routes.groupby('route_desc').agg(cnt=('route_id','count')).sort_values('cnt',ascending=False).head()

                                                    cnt
route_desc
Kempegowda Bus Station - Kempegowda Bus Station      14
CS-PES College Hostel Kasavanahalli - CS-PESIT ...   11
CS-PESIT College Electronic City - CS-PES Colle...   11
CS-Jnanakshi Vidyaniketan School - CS-Jnanakshi...   10
Kempegowda Bus Station - KR Pura Govt Hospital        9

In [13]:
df_routes[df_routes.route_desc=='Kempegowda Bus Station - KR Pura Govt Hospital']

,agency_id,route_desc,route_id,route_long_name,route_short_name,route_type
2187,38,Kempegowda Bus Station - KR Pura Govt Hospital,4894,KBS-KRPGH,300-C,3
2818,38,Kempegowda Bus Station - KR Pura Govt Hospital,5832,KBS-KRPGH,315-MF,3
4558,38,Kempegowda Bus Station - KR Pura Govt Hospital,14478,KBS-KRPGH,315,3
5808,38,Kempegowda Bus Station - KR Pura Govt Hospital,10241,KBS-KRPGH,KRPGH-RMB-BMS-VSD-KBS,3
6400,38,Kempegowda Bus Station - KR Pura Govt Hospital,10988,KBS-KRPGH,KBS-VSD-RMB KRPGH,3
7512,38,Kempegowda Bus Station - KR Pura Govt Hospital,3104,KBS-KRPGH,300-H,3
9480,38,Kempegowda Bus Station - KR Pura Govt Hospital,14702,KBS-KRPGH,315 KRPGH-RMB-HLS LAKE-KBS,3
10323,38,Kempegowda Bus Station - KR Pura Govt Hospital,5768,KBS-KRP,315-K,3
10398,38,Kempegowda Bus Station - KR Pura Govt Hospital,12852,KBS-KRPGH,KBS-TNF-KRPGH,3

## Route Sequence Data

In [14]:
pt = '/Users/gouherdanish/Documents/Danish/codes/blmc/data/route_to_stop_sequence.csv'
df_stops_in_route = pd.read_csv(pt)
df_stops_in_route.head()

   route_id                                       stop_id_list
0     10001  ['21113', '21228', '20915', '22651', '21264', ...
1     10004  ['21545', '21543', '21445', '21449', '21148', ...
2     10014  ['20944', '21123', '21272', '35403', '21495', ...
3     10016  ['28611', '34809', '32973', '34994', '27975', ...
4     10019  ['20647', '20650', '24363', '35428', '21748', ...

In [15]:
len(df_stops_in_route), df_stops_in_route.route_id.nunique()

(7509, 7509)

In [16]:
set(df_stops_in_route.route_id).difference(df_routes.route_id)

{13910, 13911, 13912, 13914, 13915, 13916}

In [18]:
len(set(df_routes.route_id).difference(df_stops_in_route.route_id))

3216

In [23]:
df_stops_in_route

      route_id                                       stop_id_list
0        10001  ['21113', '21228', '20915', '22651', '21264', ...
1        10004  ['21545', '21543', '21445', '21449', '21148', ...
2        10014  ['20944', '21123', '21272', '35403', '21495', ...
3        10016  ['28611', '34809', '32973', '34994', '27975', ...
4        10019  ['20647', '20650', '24363', '35428', '21748', ...
...        ...                                                ...
7504      9990                        ['32005', '26060', '26688']
7505      9993  ['35916', '23834', '35227', '23833', '23835', ...
7506      9994  ['34303', '27328', '30064', '38206', '39083', ...
7507      9997               ['35809', '33316', '25960', '31009']
7508      9998               ['31009', '32955', '33317', '35809']

[7509 rows x 2 columns]

In [26]:
df_stops_in_route.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7509 entries, 0 to 7508
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   route_id      7509 non-null   int64
 1   stop_id_list  7509 non-null   object
dtypes: int64(1), object(1)
memory usage: 176.0+ KB

In [29]:
from ast import literal_eval

In [30]:
df_stops_in_route['stop_id_list']=df_stops_in_route['stop_id_list'].apply(literal_eval)

In [33]:
all_stops = df_stops_in_route.explode('stop_id_list').stop_id_list.unique()
len(all_stops)

9347

In [37]:
set(all_stops)

{'33726',
 '38886',
 '28880',
 '34276',
 '27878',
 '35508',
 '35023',
 '36779',
 '37996',
 '35253',
 '36440',
 '21286',
 '22402',
 '24143',
 '24575',
 '27693',
 '24026',
 '20593',
 '34517',
 '35302',
 '33024',
 '20889',
 '31310',
 '22246',
 '30256',
 '30008',
 '23878',
 '39363',
 '33245',
 '24711',
 '32639',
 '27551',
 '36214',
 '35941',
 '23860',
 '29180',
 '39136',
 '29537',
 '25085',
 '24067',
 '33697',
 '34574',
 '31898',
 '28838',
 '21597',
 '28932',
 '25505',
 '23733',
 '35055',
 '39646',
 '32227',
 '38129',
 '33824',
 '32308',
 '27904',
 '31656',
 '29533',
 '29395',
 '24294',
 '21777',
 '21862',
 '36643',
 '21027',
 '33695',
 '38034',
 '31856',
 '27823',
 '26622',
 '20591',
 '34381',
 '30481',
 '21005',
 '30540',
 '38121',
 '23670',
 '34146',
 '39589',
 '31413',
 '35885',
 '22484',
 '30064',
 '38150',
 '38455',
 '33752',
 '36572',
 '32319',
 '28295',
 '28393',
 '33410',
 '39667',
 '25158',
 '31974',
 '22427',
 '33513',
 '26465',
 '26474',
 '31537',
 '35463',
 '21520',
 '27475',
 '32168',
 '26383',
 '22186',
 '31083',
 '29855',
 '33259',
 '39374',
 '33280',
 '20668',
 '33779',
 '25644',
 '25379',
 '23632',
 '25980',
 '25866',
 '26890',
 '22851',
 '32506',
 '23246',
 '32037',
 '20633',
 '25825',
 '35671',
 '38860',
 '21754',
 '22918',
 '33007',
 '24432',
 '24873',
 '39527',
 '32298',
 '24112',
 '25595',
 '32644',
 '33580',
 '24379',
 '21734',
 '39229',
 '27981',
 '20915',
 '25458',
 '28397',
 '23488',
 '34775',
 '33953',
 '32906',
 '35086',
 '30120',
 '26062',
 '20824',
 '31958',
 '26582',
 '21033',
 '22326',
 '38113',
 '35365',
 '28464',
 '39156',
 '30626',
 '21821',
 '21157',
 '32795',
 '37923',
 '29393',
 '39514',
 '27839',
 '24523',
 '35772',
 '32183',
 '20926',
 '22745',
 '23621',
 '34175',
 '25377',
 '35589',
 '28556',
 '26644',
 '32120',
 '38504',
 '30110',
 '30792',
 '31235',
 '23761',
 '37589',
 '36636',
 '35768',
 '32721',
 '34897',
 '22215',
 '33165',
 '33910',
 '30568',
 '26565',
 '28954',
 '30611',
 '34491',
 '25036',
 '22881',
 '23212',
 '22374',
 '33158',
 '35300',
 '39466',
 '28061',
 '35975',
 '21534',
 '34126',
 '31071',
 '33788',
 '26053',
 '36434',
 '27832',
 '30281',
 '28370',
 '38883',
 '35001',
 '20719',
 '28328',
 '36012',
 '29319',
 '39682',
 '29069',
 '32642',
 '22819',
 '28771',
 '28719',
 '25835',
 '39127',
 '21768',
 '21868',
 '31807',
 '38071',
 '33869',
 '36781',
 '23990',
 '39703',
 '34580',
 '36584',
 '34314',
 '31369',
 '22320',
 '28045',
 '21250',
 '26250',
 '21589',
 '29349',
 '36396',
 '24481',
 '23213',
 '21616',
 '30624',
 '34400',
 '20844',
 '27932',
 '28652',
 '35836',
 '33128',
 '21999',
 '21941',
 '32198',
 '23638',
 '26335',
 '32119',
 '28004',
 '20677',
 '21800',
 '29317',
 '20569',
 '21982',
 '28920',
 '22528',
 '23640',
 '24547',
 '31620',
 '25538',
 '27328',
 '23716',
 '22363',
 '32276',
 '22358',
 '21902',
 '38359',
 '30369',
 '29105',
 '28691',
 '26491',
 '22038',
 '24909',
 '22600',
 '31167',
 '29529',
 '22161',
 '33638',
 '32469',
 '36467',
 '26000',
 '22428',
 '24785',
 '21580',
 '34377',
 '26257',
 '21487',
 '30092',
 '39592',
 '33986',
 '32215',
 '24898',
 '30352',
 '33569',
 '35206',
 '33431',
 '28981',
 '35322',
 '32456',
 '24071',
 '38118',
 '20973',
 '22183',
 '30799',
 '25968',
 '39738',
 '21508',
 '35330',
 '21036',
 '29558',
 '22408',
 '20745',
 '21175',
 '34176',
 '35361',
 '26021',
 '25168',
 '30108',
 '26586',
 '39361',
 '32245',
 '33847',
 '21585',
 '35512',
 '26175',
 '30664',
 '24526',
 '34139',
 '23651',
 '20891',
 '26878',
 '32297',
 '21446',
 '24717',
 '32963',
 '30401',
 '29101',
 '33690',
 '35015',
 '35780',
 '23952',
 '33887',
 '22164',
 '23326',
 '24044',
 '30633',
 '24854',
 '32764',
 '31046',
 '28023',
 '23371',
 '26902',
 '22250',
 '23639',
 '38697',
 '29953',
 '38163',
 '20731',
 '33438',
 '29935',
 '33496',
 '23514',
 '33437',
 '24352',
 '34467',
 '38712',
 '33744',
 '25846',
 '31370',
 '32858',
 '28354',
 '36670',
 '26767',
 '28028',
 '20575',
 '24733',
 '36754',
 '22665',
 '39683',
 '23327',
 '31815',
 '33349',
 '25375',
 '35557',
 '35319',
 '31652',
 '31616',
 '22821',
 '23717',
 '22284',
 '30892',
 '31848',
 '35421',
 '33311',
 '24701',
 '21719',
 '22122',
 '22637',
 '27109',
 '35255',
 '22360',
 '35812',
 '35071',
 '36200',
 '22476',
 '35239',
 '23665',
 '34138',
 '28421',
 '21617',
 '39486',
 '26097',
 '21720',
 '30053',
 '29571',
 '34137',
 '29415',
 '24435',
 '32610',
 '27659',
 '22442',
 '20566',
 '22385',
 '20597',
 '23356',
 '36497',
 '33488',
 '35282',
 '22307',
 '21039',
 '20710',
 '21670',
 '31118',
 '21093',
 '36429',
 '39183',
 '27498',
 '31011',
 '21993',
 '27721',
 '32769',
 '25064',
 '24079',
 '33324',
 '34666',
 '20583',
 '32252',
 '33317',
 '31134',
 '34744',
 '21108',
 '28311',
 '32009',
 '28229',
 '31472',
 '39691',
 '31992',
 '36578',
 '36140',
 '21188',
 '22471',
 '32200',
 '20624',
 '26613',
 '38032',
 '24098',
 '22014',
 '29578',
 '35743',
 '32772',
 '29307',
 '31172',
 '33359',
 '22112',
 '22937',
 '39711',
 '34059',
 '36527',
 '32516',
 '34865',
 '24956',
 '26413',
 '29178',
 '33578',
 '28350',
 '39655',
 '38994',
 '22420',
 '22096',
 '26136',
 '23140',
 '21271',
 '20957',
 '34838',
 '21156',
 '24068',
 '32230',
 '28439',
 '34681',
 '33013',
 '38505',
 '32768',
 '36496',
 '31823',
 '29029',
 '28753',
 '34237',
 '36238',
 '21612',
 '22591',
 '23214',
 '22706',
 '32829',
 '32945',
 '20778',
 '29439',
 '34801',
 '36657',
 '20676',
 '22733',
 '21907',
 '22590',
 '39045',
 '34066',
 '21467',
 '23708',
 '22359',
 '22213',
 '25256',
 '31828',
 '39446',
 '31106',
 '34052',
 '26440',
 '35196',
 '33527',
 '21816',
 '28268',
 '25090',
 '29870',
 '22022',
 '22478',
 '20917',
 '36650',
 '21449',
 '35327',
 '32775',
 '22464',
 '35423',
 '24060',
 '24769',
 '20822',
 '33372',
 '31963',
 '21795',
 '23509',
 '22231',
 '36062',
 '23313',
 '26149',
 '22475',
 '21949',
 '33747',
 '30236',
 '28562',
 '39206',
 '33203',
 '31881',
 '22814',
 '21942',
 '33018',
 '32058',
 '33973',
 '23368',
 '35220',
 '34098',
 '20748',
 '36503',
 '35296',
 '21894',
 '34667',
 '26436',
 '35188',
 '33360',
 '37065',
 '36336',
 '31453',
 '26103',
 '24962',
 '38642',
 '34004',
 '26035',
 '38729',
 '36343',
 '31809',
 '22202',
 '23966',
 '39202',
 '37184',
 '38355',
 '25040',
 '34000',
 '21090',
 '29426',
 '31566',
 '22453',
 '23472',
 '31839',
 '32108',
 '33604',
 '34444',
 '24347',
 '24331',
 '22042',
 '25572',
 '24014',
 '39039',
 '21650',
 '39733',
 '32688',
 '27927',
 '33537',
 '23588',
 '33946',
 '23510',
 '23767',
 '33837',
 '28901',
 '22263',
 '39082',
 '29451',
 '31866',
 '33977',
 '33275',
 '27566',
 '37779',
 '24913',
 '25703',
 '21625',
 '35677',
 '31017',
 '26617',
 '23512',
 '20913',
 '38165',
 '32857',
 '27066',
 '34203',
 '27053',
 '38867',
 '21827',
 '32171',
 '24466',
 '25262',
 '21196',
 '32614',
 '21110',
 '28772',
 '22680',
 '22950',
 '27673',
 '20712',
 '39642',
 '20689',
 '32010',
 '28204',
 '27780',
 '29247',
 '21915',
 '24212',
 '35651',
 '38654',
 '27509',
 '31087',
 '22141',
 '32982',
 '32652',
 '34973',
 '39257',
 '22538',
 '34621',
 '22613',
 '35426',
 '34714',
 '32868',
 '20727',
 '20939',
 '36207',
 '36787',
 '34728',
 '38142',
 '33072',
 '35757',
 '31082',
 '35283',
 '26251',
 '31564',
 '35597',
 '22332',
 '25016',
 '28112',
 '24380',
 '31928',
 '29315',
 '31565',
 '21645',
 '20632',
 '21601',
 '32567',
 '25146',
 '22159',
 '20660',
 '34063',
 '33925',
 '35399',
 '30779',
 '36546',
 '32645',
 '31389',
 '23731',
 '26467',
 '34047',
 '29365',
 '33220',
 '32811',
 '29744',
 '20974',
 '22589',
 '20697',
 '32600',
 '34311',
 '33320',
 '26426',
 '33304',
 '20811',
 '34451',
 '25166',
 '32548',
 '21921',
 '33376',
 '25612',
 '32371',
 '25020',
 '33902',
 '20965',
 '22043',
 '36701',
 '26740',
 '39679',
 '27595',
 '31861',
 '33525',
 '31515',
 '21725',
 '35749',
 '37083',
 '27619',
 '21783',
 '33471',
 '35572',
 '32379',
 '21551',
 '38589',
 '24892',
 '21646',
 '20826',
 '29866',
 '24660',
 '39279',
 '32749',
 '20729',
 '39151',
 '27451',
 '27572',
 '33961',
 '24493',
 '27615',
 '29265',
 '32482',
 '36307',
 '29043',
 '29557',
 '35843',
 '31812',
 '22165',
 '34018',
 '34687',
 '24674',
 '26738',
 '38006',
 '26584',
 '32667',
 '34895',
 '32684',
 '38949',
 '33105',
 '32654',
 '32357',
 '23473',
 '22566',
 '22233',
 '35948',
 '25638',
 '23402',
 '26520',
 '35377',
 '30365',
 '39003',
 '34268',
 '21203',
 '21011',
 '34804',
 '25722',
 '32312',
 '33754',
 '22509',
 '29430',
 '32537',
 '26615',
 '20954',
 '24741',
 '34670',
 '24855',
 '23610',
 '22084',
 '20636',
 '22513',
 '35499',
 '26782',
 '28983',
 '32866',
 '33679',
 '22260',
 '32619',
 '28125',
 '22144',
 '31256',
 '21653',
 '35326',
 '32342',
 '37119',
 '20563',
 '21142',
 '21489',
 '25652',
 '32481',
 '33741',
 '38698',
 '26013',
 '34856',
 '20671',
 '26532',
 '21767',
 '23833',
 '25385',
 '28764',
 '22364',
 '36566',
 '33111',
 '30921',
 '23504',
 '25472',
 '35891',
 '32150',
 '24317',
 '33202',
 '38892',
 '21701',
 '35842',
 '32051',
 '27257',
 '33244',
 '23624',
 '36347',
 '25713',
 '34597',
 '35156',
 '33218',
 '24745',
 '35645',
 '26978',
 '26244',
 '22289',
 '33004',
 '26493',
 '24270',
 '22473',
 '22214',
 '34649',
 '34578',
 '28525',
 '34301',
 '23516',
 '32770',
 '37782',
 '39009',
 '34278',
 '21663',
 '35432',
 '39708',
 '25869',
 '30827',
 '34118',
 '21006',
 '26072',
 '28231',
 '23455',
 '34411',
 '33700',
 '34559',
 '32170',
 '29707',
 '35956',
 '39571',
 '20890',
 '22228',
 '20872',
 '35798',
 '21611',
 '24008',
 '36368',
 '22891',
 '20887',
 '31567',
 '24093',
 '33405',
 '22317',
 '21598',
 '25287',
 '22579',
 '29565',
 '21464',
 '29657',
 '21764',
 '28074',
 '30106',
 '34680',
 '39607',
 '21239',
 '33347',
 '21057',
 '32845',
 '32552',
 '34265',
 '20574',
 '24517',
 '34449',
 '31427',
 '32707',
 '32983',
 '36654',
 '23592',
 '22689',
 '21684',
 '27760',
 '35547',
 '34516',
 '34723',
 '30177',
 '29496',
 '21830',
 '32973',
 '24486',
 '38390',
 '33797',
 '28033',
 '32493',
 '39636',
 '35131',
 '29576',
 '31102',
 '22373',
 '34606',
 '29476',
 '26633',
 '21794',
 '20686',
 '28308',
 '32040',
 '22256',
 '39656',
 '35441',
 '22534',
 '21118',
 '34480',
 ...}

In [43]:
set(df_stops.stop_id)

{'33726',
 '37099',
 '35927',
 '38886',
 '28880',
 '34276',
 '27878',
 '33937',
 '38705',
 '35508',
 '39620',
 '36779',
 '35023',
 '37996',
 '35253',
 '36440',
 '38376',
 '37790',
 '35033',
 '21286',
 '22402',
 '24143',
 '24575',
 '28513',
 '37037',
 '27693',
 '24026',
 '20593',
 '34517',
 '37560',
 '35302',
 '35598',
 '33024',
 '20889',
 '31310',
 '22246',
 '30256',
 '30008',
 '23878',
 '39363',
 '39195',
 '33245',
 '32639',
 '24711',
 '36214',
 '27551',
 '35941',
 '26310',
 '29376',
 '23860',
 '29180',
 '39136',
 '25483',
 '29537',
 '25085',
 '34445',
 '35016',
 '36808',
 '39092',
 '22809',
 '24067',
 '33697',
 '34574',
 '31898',
 '28838',
 '38087',
 '21597',
 '28932',
 '25505',
 '23733',
 '39646',
 '35055',
 '36042',
 '32227',
 '38129',
 '33824',
 '32308',
 '27904',
 '31656',
 '29533',
 '29395',
 '24294',
 '21777',
 '21862',
 '36643',
 '21027',
 '38034',
 '33695',
 '31856',
 '36446',
 '27823',
 '26622',
 '20591',
 '34381',
 '30481',
 '21005',
 '30540',
 '38189',
 '38121',
 '37745',
 '23670',
 '34146',
 '39589',
 '31413',
 '32527',
 '35894',
 '35691',
 '35885',
 '22484',
 '30064',
 '38150',
 '38455',
 '37655',
 '33752',
 '36572',
 '32319',
 '28295',
 '28393',
 '33410',
 '39667',
 '25158',
 '31974',
 '22427',
 '29746',
 '33513',
 '22828',
 '26465',
 '26474',
 '39291',
 '35463',
 '31537',
 '27475',
 '21520',
 '29817',
 '32807',
 '32168',
 '26383',
 '22186',
 '33053',
 '31083',
 '29855',
 '33259',
 '39374',
 '33280',
 '20668',
 '36265',
 '27396',
 '25644',
 '33779',
 '33602',
 '25379',
 '23632',
 '25980',
 '25866',
 '26890',
 '35514',
 '32785',
 '22851',
 '32506',
 '23246',
 '39145',
 '32037',
 '20633',
 '26691',
 '25825',
 '38860',
 '35671',
 '21754',
 '22918',
 '33007',
 '24432',
 '38833',
 '26854',
 '24873',
 '39527',
 '32298',
 '24112',
 '39460',
 '25595',
 '32644',
 '33580',
 '24379',
 '21734',
 '39378',
 '35908',
 '39229',
 '27981',
 '20915',
 '25458',
 '28397',
 '33789',
 '33594',
 '38596',
 '23488',
 '36665',
 '33953',
 '37044',
 '36822',
 '34775',
 '32906',
 '35086',
 '30120',
 '39010',
 '26062',
 '20824',
 '31958',
 '26582',
 '30346',
 '38113',
 '21033',
 '22326',
 '33532',
 '35365',
 '28464',
 '39156',
 '30626',
 '36871',
 '21157',
 '21821',
 '32795',
 '37923',
 '29393',
 '39514',
 '27839',
 '37764',
 '24523',
 '35772',
 '32183',
 '20926',
 '22745',
 '35879',
 '23621',
 '34175',
 '25377',
 '35589',
 '28556',
 '26644',
 '32120',
 '38504',
 '30110',
 '30792',
 '31235',
 '23761',
 '37589',
 '36354',
 '36636',
 '35768',
 '36842',
 '32721',
 '34991',
 '34897',
 '22215',
 '33165',
 '30568',
 '33910',
 '26565',
 '28954',
 '30611',
 '34491',
 '25036',
 '22881',
 '23212',
 '22374',
 '33158',
 '35300',
 '39466',
 '35975',
 '28061',
 '21534',
 '36791',
 '34126',
 '38812',
 '30707',
 '31071',
 '33788',
 '26053',
 '36434',
 '27832',
 '37147',
 '30281',
 '28370',
 '38883',
 '37801',
 '35001',
 '27249',
 '20719',
 '34249',
 '28328',
 '36012',
 '29319',
 '39682',
 '29069',
 '32642',
 '22819',
 '36445',
 '28771',
 '36664',
 '37605',
 '28719',
 '25835',
 '39127',
 '21768',
 '21868',
 '31807',
 '33869',
 '39703',
 '36781',
 '37762',
 '23990',
 '34580',
 '36447',
 '36584',
 '34314',
 '31369',
 '22320',
 '28045',
 '21250',
 '26250',
 '21589',
 '38476',
 '29349',
 '30123',
 '36396',
 '24481',
 '39121',
 '23213',
 '36832',
 '21616',
 '30624',
 '34400',
 '20844',
 '38211',
 '27932',
 '35836',
 '28652',
 '33128',
 '37765',
 '21999',
 '39191',
 '32198',
 '21941',
 '27543',
 '26335',
 '23638',
 '38679',
 '32119',
 '36935',
 '28368',
 '28004',
 '20677',
 '37067',
 '21800',
 '29640',
 '29317',
 '20569',
 '21982',
 '38196',
 '38221',
 '28920',
 '26593',
 '22528',
 '23640',
 '24547',
 '22968',
 '31036',
 '31620',
 '25538',
 '27328',
 '23716',
 '38966',
 '26181',
 '22363',
 '32276',
 '21902',
 '22358',
 '38359',
 '30369',
 '34780',
 '29105',
 '32747',
 '38977',
 '28691',
 '26491',
 '22038',
 '24909',
 '22600',
 '31167',
 '26094',
 '29529',
 '22161',
 '33638',
 '32469',
 '36467',
 '22428',
 '26000',
 '37191',
 '24785',
 '25196',
 '21580',
 '31203',
 '34377',
 '26257',
 '27527',
 '21487',
 '30092',
 '39592',
 '33986',
 '32215',
 '24898',
 '21104',
 '30352',
 '33569',
 '35206',
 '33431',
 '35987',
 '28981',
 '35322',
 '25443',
 '32456',
 '24071',
 '38118',
 '32329',
 '20973',
 '22183',
 '30799',
 '25968',
 '39738',
 '21508',
 '36355',
 '35330',
 '21036',
 '29558',
 '20745',
 '39377',
 '22408',
 '21175',
 '34176',
 '35361',
 '26021',
 '25168',
 '30108',
 '39361',
 '26586',
 '32245',
 '33847',
 '21585',
 '35512',
 '37847',
 '26175',
 '30664',
 '24526',
 '34139',
 '25305',
 '23651',
 '20891',
 '24805',
 '37109',
 '26878',
 '32297',
 '21446',
 '24717',
 '37018',
 '32963',
 '30401',
 '29101',
 '33690',
 '34346',
 '35015',
 '38024',
 '36854',
 '35780',
 '36639',
 '23952',
 '33887',
 '36069',
 '22164',
 '23326',
 '26432',
 '38451',
 '24044',
 '30633',
 '24854',
 '32764',
 '31046',
 '28023',
 '23371',
 '26902',
 '22250',
 '23639',
 '38697',
 '32671',
 '29953',
 '38163',
 '20731',
 '33438',
 '29935',
 '33496',
 '23514',
 '36938',
 '37875',
 '33437',
 '24352',
 '34467',
 '37187',
 '38712',
 '33744',
 '25846',
 '31370',
 '32858',
 '28354',
 '36670',
 '28028',
 '26767',
 '20575',
 '24733',
 '34357',
 '36754',
 '22665',
 '39683',
 '23327',
 '31815',
 '33349',
 '25375',
 '38563',
 '35557',
 '35319',
 '31652',
 '31616',
 '22821',
 '23717',
 '39418',
 '39428',
 '22284',
 '31848',
 '30892',
 '33311',
 '36826',
 '35421',
 '39165',
 '36435',
 '24701',
 '36109',
 '21719',
 '22122',
 '22637',
 '27109',
 '38973',
 '35255',
 '35812',
 '36830',
 '22360',
 '36200',
 '35071',
 '22476',
 '35239',
 '37153',
 '23665',
 '38740',
 '34138',
 '27771',
 '28421',
 '21617',
 '39486',
 '26097',
 '21720',
 '30053',
 '29571',
 '34137',
 '24435',
 '32610',
 '29415',
 '27659',
 '32072',
 '22442',
 '20566',
 '22385',
 '20597',
 '23356',
 '36497',
 '33848',
 '23721',
 '33488',
 '35282',
 '22307',
 '21039',
 '20710',
 '21670',
 '26147',
 '31118',
 '39714',
 '21093',
 '24988',
 '36429',
 '36969',
 '39183',
 '27498',
 '31011',
 '21993',
 '27721',
 '32769',
 '25064',
 '24079',
 '33324',
 '35988',
 '34666',
 '20583',
 '34778',
 '26557',
 '32252',
 '33317',
 '31134',
 '34744',
 '21108',
 '28311',
 '38727',
 '32009',
 '36105',
 '31472',
 '28229',
 '39691',
 '36576',
 '31992',
 '36578',
 '36140',
 '21188',
 '22471',
 '32200',
 '20624',
 '32202',
 '26613',
 '38937',
 '34287',
 '38032',
 '39196',
 '39197',
 '24098',
 '38099',
 '22014',
 '29578',
 '36162',
 '29307',
 '32772',
 '37620',
 '35743',
 '39247',
 '31172',
 '33359',
 '38036',
 '22112',
 '22937',
 '39711',
 '24633',
 '34059',
 '36527',
 '32516',
 '34865',
 '24956',
 '26413',
 '32136',
 '36857',
 '36310',
 '37051',
 '29178',
 '33578',
 '28350',
 '39655',
 '38994',
 '22420',
 '36868',
 '22096',
 '26136',
 '23140',
 '21271',
 '20957',
 '34838',
 '38536',
 '36421',
 '21156',
 '24068',
 '36112',
 '32230',
 '28439',
 '33896',
 '34681',
 '38505',
 '33013',
 '32768',
 '36496',
 '34526',
 '31823',
 '36930',
 '29029',
 '28753',
 '34237',
 '36238',
 '21612',
 '22591',
 '33637',
 '23214',
 '22706',
 '32829',
 '32945',
 '36705',
 '29439',
 '20778',
 '34801',
 '36657',
 '20676',
 '22733',
 '21907',
 '36620',
 '22590',
 '39045',
 '34066',
 '25601',
 '36984',
 '21467',
 '23708',
 '22359',
 '25256',
 '22213',
 '31828',
 '39446',
 '31106',
 '39030',
 '34052',
 '26440',
 '35196',
 '33527',
 '39163',
 '39663',
 '21816',
 '25090',
 '39469',
 '28268',
 '33273',
 '35980',
 '29870',
 '22022',
 '22478',
 '39188',
 '20917',
 '36650',
 '21449',
 '35327',
 '32084',
 '32775',
 '22464',
 '35423',
 '24060',
 '37956',
 '21579',
 '24769',
 '20822',
 '37111',
 '33372',
 '31963',
 '21795',
 '22231',
 '23509',
 '36062',
 '27941',
 '32923',
 '23313',
 '26149',
 '21949',
 '22475',
 '33747',
 '30236',
 '36933',
 '28562',
 '39206',
 '31488',
 '33203',
 '38415',
 '31881',
 '22814',
 '21942',
 '33018',
 '32058',
 '33973',
 '34098',
 '35220',
 '23368',
 '24807',
 '36503',
 '20748',
 '39068',
 '35296',
 '21894',
 '34667',
 '26436',
 '35188',
 '33360',
 '36336',
 '37065',
 '36873',
 '26035',
 '26103',
 '36570',
 '24962',
 '34004',
 '31453',
 '38729',
 '36523',
 '36241',
 '38642',
 '31809',
 '36343',
 '22202',
 '23966',
 '38518',
 '39202',
 '37624',
 '36533',
 '35006',
 '37184',
 '38355',
 '25040',
 '34000',
 '36997',
 '21090',
 '29426',
 '31566',
 '22453',
 '38075',
 '23472',
 '31839',
 '32108',
 '28414',
 '33604',
 '34444',
 '24347',
 '24331',
 '37633',
 '22042',
 '25572',
 '24014',
 '21650',
 '39039',
 '38527',
 '39733',
 '32688',
 '33537',
 '27927',
 '23588',
 '23510',
 '33946',
 '37008',
 '23767',
 '33837',
 '28901',
 '22263',
 '36769',
 '29451',
 '37840',
 '39082',
 '31866',
 '38089',
 '33977',
 '33275',
 '27566',
 '37779',
 '24913',
 '25703',
 '21625',
 '37089',
 '36481',
 '31017',
 '35677',
 '23512',
 '26617',
 '20913',
 '33292',
 '38165',
 '32857',
 '33807',
 '27066',
 '34203',
 '27053',
 '38867',
 '21827',
 '32171',
 '37955',
 '24466',
 '36019',
 '25262',
 '21196',
 '32614',
 '21110',
 '28772',
 '22680',
 '39117',
 '22950',
 '37919',
 '39642',
 '27673',
 '20712',
 '20689',
 '32010',
 '28204',
 '27780',
 '29247',
 '21915',
 '37020',
 '32278',
 '39171',
 '37029',
 '24212',
 '35651',
 '34954',
 '37631',
 '38654',
 '27509',
 '31087',
 '22141',
 '32982',
 '32652',
 '34973',
 '39356',
 '39239',
 '34714',
 '39257',
 '34621',
 '35426',
 '22538',
 '22613',
 '32868',
 '20727',
 '20939',
 '36207',
 '36787',
 '34728',
 '37830',
 '36273',
 '36108',
 '38142',
 '38205',
 '33072',
 '37818',
 '35757',
 '31082',
 '34262',
 '35283',
 '26251',
 '31564',
 '35597',
 '22332',
 '25016',
 '35620',
 '24380',
 '28112',
 '31928',
 '29315',
 '37248',
 '31565',
 '36949',
 '21645',
 '37027',
 '34912',
 '20632',
 '39727',
 '38749',
 '35276',
 '21601',
 '32567',
 '25146',
 '22159',
 '20660',
 '37415',
 '34063',
 '33925',
 '35399',
 '30779',
 '26837',
 '36018',
 '36546',
 '32645',
 '31389',
 '23731',
 '26467',
 '34047',
 '29365',
 '33220',
 '38108',
 '32811',
 '29744',
 '20974',
 '22589',
 '20697',
 '32600',
 '34311',
 '33083',
 '33320',
 '26426',
 '36582',
 '33304',
 '20811',
 '34451',
 '25166',
 ...}

In [44]:
len(set(all_stops).difference(set(df_stops.stop_id)))

0

In [46]:
len(set(df_stops.stop_id).difference(set(all_stops)))

2927

In [32]:
df_stops_in_route

      route_id                                       stop_id_list
0        10001  [21113, 21228, 20915, 22651, 21264, 20839, 206...
1        10004  [21545, 21543, 21445, 21449, 21148, 20623, 208...
2        10014  [20944, 21123, 21272, 35403, 21495, 21473, 214...
3        10016  [28611, 34809, 32973, 34994, 27975, 33189, 268...
4        10019  [20647, 20650, 24363, 35428, 21748, 22406, 222...
...        ...                                                ...
7504      9990                              [32005, 26060, 26688]
7505      9993  [35916, 23834, 35227, 23833, 23835, 35250, 238...
7506      9994  [34303, 27328, 30064, 38206, 39083, 32831, 324...
7507      9997                       [35809, 33316, 25960, 31009]
7508      9998                       [31009, 32955, 33317, 35809]

[7509 rows x 2 columns]

In [47]:
from shapely.geometry import Point, LineString

In [67]:
def get_route_geometry_from_stops(stop_ids: List[str]):
    stop_geoms = []
    assert len(stop_ids) > 0, "Error: Route must have at least one stop"
    for stop_id in stop_ids:
        stop_geom = df_stops.loc[df_stops.stop_id == stop_id,'geometry'].values[0]
        stop_geoms.append(stop_geom)
    return LineString(stop_geoms) if len(stop_geoms) > 1 else stop_geom

In [52]:
df_stops_in_route.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7509 entries, 0 to 7508
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   route_id      7509 non-null   int64
 1   stop_id_list  7509 non-null   object
dtypes: int64(1), object(1)
memory usage: 434.0+ KB

In [53]:
type(df_stops_in_route.loc[0,'stop_id_list'])

list

In [56]:
df_stops.loc[df_stops.stop_id=='21113','geometry'].values[0]

In [60]:
# df_stops_in_route['geometry'] = df_stops_in_route['stop_id_list'].apply(get_route_geometry_from_stops)
route_geoms = []
failed = {}
for i, row in df_stops_in_route.iterrows():
    route_id = row['route_id']
    try:
        stop_ids_for_this_route = row['stop_id_list']
        route_geometry = get_route_geometry_from_stops(stop_ids_for_this_route)
        route_geoms.append(route_geometry)
    except Exception as e:
        print(e)
        failed[route_id] = e

IllegalArgumentException: point array must contain 0 or >1 elements

IllegalArgumentException: point array must contain 0 or >1 elements

IllegalArgumentException: point array must contain 0 or >1 elements

IllegalArgumentException: point array must contain 0 or >1 elements

In [61]:
failed

{12469: shapely.errors.GEOSException('IllegalArgumentException: point array must contain 0 or >1 elements\n'),
 7328: shapely.errors.GEOSException('IllegalArgumentException: point array must contain 0 or >1 elements\n'),
 7533: shapely.errors.GEOSException('IllegalArgumentException: point array must contain 0 or >1 elements\n'),
 9340: shapely.errors.GEOSException('IllegalArgumentException: point array must contain 0 or >1 elements\n')}

In [66]:
df_stops_in_route[df_stops_in_route.route_id.isin([12469,7328,7533,9340])]

      route_id stop_id_list
884      12469      [38478]
6275      7328      [35746]
6366      7533      [35746]
7188      9340      [35746]

In [64]:
df_routes[df_routes.route_id==12469]

,agency_id,route_desc,route_id,route_long_name,route_short_name,route_type
7616,38,CS-DLF Home Town - CS-Dayanand Sagar College K...,12469,DLF-DSATM,DSIT-4,3

## Reading Vehicle Live Data

In [ ]:
pt = '/Users/gouherdanish/Documents/Danish/codes/blmc/data/Aug17-19/cistup-videoserver/nas_mount/Brij_work/BTS_project/s3_flatening/s3_bucket_aws_cli_processed/date=2025-08-17/part-00000-8fad8879-efd3-407b-8962-0a3ec55b519b.c000.snappy_flat.parquet'
df = pq.read_table(pt).to_pandas()

In [3]:
df.head()

,id,system_time,current_status,stop_id,vehicle_timestamp,trip_id,start_time,start_date,schedule_relationship,route_id,latitude,longitude,bearing,vehicle_id,label,date
0,8496,2025-08-17T20:00:05.913847,1,"""38058""","""1755460791""","""68089066""","""18:00:00""","""20250817""","""SCHEDULED""","""1801""",12.948634,77.593421,326.04,"""18638""","""KA57F4711""",2025-08-17
1,5769,2025-08-17T23:29:55.793772,1,"""24841""","""1755473381""","""""","""""","""""","""UNSCHEDULED""","""""",13.026876,77.638504,22.00,"""20909""","""KA57F3050""",2025-08-17
2,8514,2025-08-17T20:00:05.913847,1,"""38058""","""1755460763""","""68088563""","""21:00:00""","""20250817""","""SCHEDULED""","""1725""",13.042497,77.597600,38.00,"""26944""","""KA51AK0577""",2025-08-17
3,4659,2025-08-17T23:29:55.793772,1,"""38058""","""1755185449""","""""","""""","""""","""UNSCHEDULED""","""""",13.017431,77.561104,124.00,"""23017""","""KA57F0143""",2025-08-17
4,8200,2025-08-17T20:00:05.913847,1,"""38058""","""1755460791""","""68066508""","""19:45:00""","""20250817""","""SCHEDULED""","""1665""",12.791842,77.729217,284.27,"""26284""","""KA51AH7673""",2025-08-17

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10014327 entries, 0 to 10014326
Data columns (total 16 columns):
 #   Column                 Dtype
---  ------                 -----
 0   id                     object
 1   system_time            object
 2   current_status         object
 3   stop_id                object
 4   vehicle_timestamp      object
 5   trip_id                object
 6   start_time             object
 7   start_date             object
 8   schedule_relationship  object
 9   route_id               object
 10  latitude               float64
 11  longitude              float64
 12  bearing                float64
 13  vehicle_id             object
 14  label                  object
 15  date                   category
dtypes: category(1), float64(3), object(12)
memory usage: 1.1+ GB